{% extends './base.html' %}
{% load static %}

{% block title %}
  Services
{% endblock title %}
{% block lien %}<link href="{% static 'assets/css/services.css' %}" rel="stylesheet"> {% endblock lien %}

{% include 'includes/nav1.html' %}

{% block content %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Que faisons-nous ?</h2>
        <p>
            Notre plateforme SouclouSoua offre divers services à chaque apprenant en offrant un accès pratique pour
             favoriser l'apprentissage interactif et soutenir les apprenants dans leurs buts éducatifs.
        </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
<!-- SECTION SERVICES-->
<section id="Services" class="text-center moite" >
    <div class="container">
    <div class="row">
    </div>
    <div class="row g-4 ">
    <div class="col-lg-4 col-md-6">
        <div class="service">
            <h5>Cours en Ligne</h5>
            <p>SouclouSoua offre des cours en ligne allant des matières académiques aux compétences professionnelles, en passant par les loisirs et en organisant des cours sous forme de modules ou de leçons accessibles à tous moment.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service">
            <h5>Ressources d'Apprentissage</h5>
            <p>SouclouSoua offre des ressources d'apprentissage telles que des vidéos, des fichiers PDF, des Quis, des exercices interactifs, des jeux et concours.
              Ces ressources aident les élèves à approfondir leurs connaissances et à renforcer leur compréhension des sujets étudiés.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service">
            <h5>Communauté d'Apprentissage</h5>
            <p>
              SouclouSoua facilite les interactions entre les apprenants, poser et échanger des idées,  collaborer sur des projets communs grace à des Forums de discussions, des espaces de messagerie.
              Cela favorise l'apprentissage collaboratif et crée un environnement d'apprentissage engageant.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service">
            <h5>Descriptions de Cours</h5>
            <p>SouclouSoua fournit des informations détaillées sur les cours, notamment les objectifs d'apprentissage, les pré-requis, la durée des cours et les méthodes d'enseignement utilisées. Ces descriptions aident les apprenants à choisir les cours les plus appropriés à leurs intérêts.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service">
            <h5>Evaluation et Feedback</h5>
            <p>SouclouSoua propose des évaluations, examens ou quiz en ligne pour mesurer la progression des élèves. 
              Il fournit également des commentaires précis sur le rendement des élèves, ce qui leur permet de cerner leurs forces et leurs faiblesses.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service">
            <h5>Profits d'Instructeurs</h5>
            <p>SouclouSoua présente les profils des professeurs qui animent les cours. Ces profils peuvent contenir des renseignements sur les compétences, l'expérience professionnelle et l'expertise des instructeurs. Cela permet aux élèves et aux parents d'élèves d'en savoir plus sur leurs formateurs potentiels.</p>
        </div>
    </div>
    </div>
    </div>
  </section>
  <!-- FIN SECTION SERVICES-->
<!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>Élèves</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>Cours</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>événements</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>formateurs</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>TÉMOIGNAGES</h2>
          <p>QU'EST CE QU'ILS DISENT</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

{% endblock content %}

{% include 'includes/footer.html' %}