{% load static %}
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h1 class="logo2 me-auto"><a href="index.html"><img src="{% static 'assets/img/logo-souclou.png' %}" class="img-fluid" alt=""></a></h1>
            <p>
              Marcory, Remblai <br>
              Abidjan, NY 535022<br>
              Cote d'Ivoire <br><br>
              <strong>Phone:</strong> +225 07.89.30.59.83<br>
              <strong>Email:</strong> SouclouSoua@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Liens utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cours</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>nos services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cours en Ligne</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Profits d'Instructeurst</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Evaluation et Feedback</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Ressources d'Apprentissage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Communauté d'Apprentissage</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Rejoignez notre newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>SouclouSoua</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->