{% load static %}
{% if user.is_authenticated %}
  <!-- ======= Header NAV ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><img src="{% static 'assets/img/logo-souclou.png' %}" class="img-fluid" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

          <li><a class="active" href="{% url 'home' %}">Accueil</a></li>
          <li><a href="{% url 'cours' %}">Cours</a></li>
          <li><a href="trainers.html">Formateurs</a></li>
          <li><a href="pricing.html">Forum</a></li>
          <li><a href="events.html">Evénements</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>


        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="#" class="get-started-btn first_name">{{ user.first_name|upper }}</a>
      <a href="{% url 'deconnexion' %}" class="get-started-btn">Déconnexion</a>
    </div>
  </header><!-- End Header -->
{% else %}
  <!-- ======= Header NAV1 ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><img src="{% static 'assets/img/logo-souclou.png' %}" class="img-fluid" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="{% url 'home' %}">Accueil</a></li>
          <li><a href="{% url 'apropos' %}">À propos</a></li>
          <li><a href="{% url 'service' %}">Services</a></li>
          <li><a href="trainers.html">Formateurs</a></li>
          <li><a href="pricing.html">Forum</a></li>
          <li><a href="events.html">Evénements</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="{% url 'connexion' %}" class="get-started-btn" style="background-color:#60e693">Connexion</a>
    </div>
  </header><!-- End Header -->
{% endif %}